
body {
    font-family: 'Trebuchet MS';
    margin: 0;
    padding: 0;
    background-color: #767777;
    color: #020202;
    text-align: center;
}

/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

.nav .links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav .links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s ease;
    font-size: 30px;
}

.nav .links li a:hover {
    background: #e70b0b;
    color: rgb(243, 239, 239);
    transform: scale(1.05);
}

.nav .links li a.active {
    background: #ff1515;
    color: black;
}

.register-box {
    width: 380px;
    margin: 70px auto;
    background: #2b2b2b;
    padding: 35px;
    border-radius: 16px;
    text-align: center;
    color: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.6);
    animation: fadeIn 0.6s ease-out;
}

.register-box h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.register-box .subtitle {
    color: #cfcfcf;
    margin-bottom: 20px;
    font-size: 14px;
}

.register-box form label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 15px;
}

.register-box form input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 8px;
    background: #1c1c1c;
    border: 1px solid #666;
    color: white;
    outline: none;
    transition: 0.3s ease;
}

.register-box form input:focus {
    border-color: #ee0d0d;
    box-shadow: 0 0 8px rgba(255, 51, 51, 0.3);
}

.register-box .button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #fc0303, #ff6a6a);
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
}

.register-box .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(255, 51, 51, 0.3);
}

.signup-text {
    margin-top: 15px;
}

.signup-text a {
    color: #fffbee;
    font-weight: bold;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
